*
	margin: 0
	padding: 0
	overflow-x: hidden
	font-family: "Quicksand", sans-serif
h1, h5, h4, h3
	overflow: hidden
body
	position: relative



@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700&subset=latin-ext')

=size($size)
	width: $size
	height: $size
=border-radius($radius)
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius
	border-radius: $radius

$font: "Quicksand" sans-serif
$color: #1abc9c
$color-hover: #16A085
$bg-color: #f5f6f7

//NAVIGATION

.active
	color: #1abc9c !important
.bg-light
	background-color: rgba(0, 0, 0, 0.1) !important
.navbar-expand-lg
	justify-content: end
	position: fixed
	width: 100%
	z-index: 110
	transition: 0.5s

.navbar-dark
	.navbar-nav

		.nav-link
			margin: 15px 40px 15px 40px

			color: #ffffff
			font-weight: 900
			letter-spacing: 4px
			transition: 0.5s
			&:hover
				color: $color

@media (min-width: 992px)
	.shrink
		height: 80px !important
		background-color: rgba(0, 0, 0, 0.7) !important
	.navbar
		height: 120px
		overflow: hidden
		transition: 0.5s
	.navbar-expand-lg
		.navbar-collapse
			justify-content: center

@media (max-width: 991px)
	.navbar-expand-lg
		background-color: rgba(0, 0, 0, 0.7) !important
		.navbar-collapse
			ul
				li
					margin-left: -30px
					img
						display: none

//HEADER
.jumbotron
	position: relative
	margin: 0
	background-image: url('../new-images/hero.jpg')
	height: 100vh
	background-size: 100% 100%
	display: flex
	align-items: center
	justify-content: center
	flex-direction: column
	h1
		font-family: $font
		font-weight: 700
		text-transform: uppercase
		color: #fff
		size: 38px
	h5
		color: #fff
		font-weight: 400
.btn-primary
	display: inline-block
	margin: 20px 0
	border: none
	background-color: $color
	border-radius: 4px
	padding: 15px 30px
	color: #ffffff
	font-weight: 700
	font-size: 12px
	text-transform: uppercase
	cursor: pointer
	text-decoration: none
	letter-spacing: 3px
	transition: .5s
	&:hover
		border-radius: 25px
		background-color: #16A085
.social-container
	position: absolute
	bottom: 0
	color: #ffff
	font-size: 30px
	.fa
		cursor: pointer
		margin: 10px
		transition: 0.5s
		&:hover
			color: $color
			font-size: 40px

//PHOTOAPP

.photoapp
	display: flex
	height: 400px
	background-color: #f5f6f7
	.text
		height: 100%
		background-image: url('../new-images/hand-phone.jpg')
		background-repeat: no-repeat
		background-position: right
		h4
			margin-top: 100px
			text-transform: uppercase
			color: $color
		p
			margin-top: 30px
			margin-bottom: 50px
@media screen and (max-width: 1080px)
	.photoapp
		.text
			background-image: none
			h4
				margin-top: 50px
@media screen and (max-width: 780px)
	.photoapp
		.text
			h4
				margin-top: 30px

//DESIGN
#design
	margin-top: 50px
.download
	margin: 0 auto

.slider-text
	padding-left: 0
	.btn
		display: block
		margin-bottom: 20px
	a
		color: #000000
		text-decoration: none
	h4
			margin-top: 100px
			text-transform: uppercase
			color: $color
			overflow: hidden
	p
		margin-top: 30px
		margin-bottom: 50px
.slider-text
	a
		font-size: 30px
		i
			margin: 10px 0px 0px 10px
			font-weight: 700
.controler
	margin-left: 12px

.carousel-item
	img
		margin: 0 auto

@media screen and (max-width: 1080px)
	#design
		div
			div
				h4
					margin-top: 0px

// COMMUNITY

.community
	background-color: $bg-color
	padding: 50px
	div
		margin: 0 auto
.our-community
	display: flex
	justify-content: center
	align-items: center
	flex-direction: column
	.text-our-comminity
		margin-top: 25px
		h4, p
			text-align: center

.community-slide
	img
		width: 100%

.control-panel
	display: flex
	justify-content: flex-end
	a
		font-size: 30px
		color: #000000
		font-weight: 700
		i
			margin: 10px 10px 0px 10px
			font-weight: 700

@media screen and (max-width: 991px)
	.community
		div
			margin-top: 10px
	.control-panel
		display: none

//SUBSCRIBE

.sub-div
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	height: 500px
	background-image: url('../new-images/parallax.jpg')
	background-attachment: fixed
	background-position: center
	background-repeat: no-repeat
	background-size: cover
	h3
		color: #ffffff
		text-align: center
		margin-bottom: 30px
	.input-group-append
		button
			margin: 0
.mb-3
	width: 300px
.fa-check
	margin-top: 6px

//DOWNLOAD
#download
	padding: 50px
	background-color: $bg-color
	.download-text
		h4
			text-align: center
		p
			text-align: center
.download-buttons
	display: flex
	justify-content: center
	flex-wrap: wrap
.apple, .play
	margin-right: 20px
	border-radius: 4px
	padding: 0 0 0 30px
.fa-apple, .fa-android
	display: inline-flex
	font-size: 20px
	background-color: $color-hover
	padding: 15px
	border: none
	border-radius: 0 4px 4px 0
	margin-left: 30px




//FOOTER
#footer
	div
		margin-left: 10px
		display: inline-block
		div
			margin-top: 30px
			margin-bottom: 30px
			.credits, .privacy
				text-decoration: none
				font-weight: 900
				color: #000000
				transition: 0.5s
				&:hover
					color: $color-hover
				&:after
					content: " |"
					font-weight: 900
					color: $color

			.teams
				text-decoration: none
				font-weight: 900
				color: #000000
				transition: 0.5s
				&:hover
					color: $color-hover

		div		
			img
				display: inline-block
				position: absolute
				right: 50px
				bottom: 60px


@media screen and (max-width: 370px)
	#footer
		div
			div
				img
					display: none
